.MyStyle {
    background-color: MediumSeaGreen;
    color: black;
    font-family: Arial;
    text-align: center;
    margin-left: 200px;
    margin-top: 75px;
  }

  .MyStyle1 {
    background-color: MediumSeaGreen;
    color: black;
    font-family: Arial;
    text-align: center;
    margin-top: 75px;
  }
  